<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
        <div class="card-body">
            <div class="clearfix">
            <div class="float-left">
                <i class="mdi mdi-receipt text-warning icon-lg"></i>
            </div>
            <div class="float-right">
                <p class="mb-0 text-right">Owner</p>
                <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{ owner }}</h3>
                </div>
            </div>
            </div>
            <p class="text-muted mt-3 mb-0">
             <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> {{ tot_owner }}
            </p>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
        <div class="card-body">
            <div class="clearfix">
            <div class="float-left">
                <i class="mdi mdi-cube text-danger icon-lg"></i>
            </div>
            <div class="float-right">
                <p class="mb-0 text-right">Total Revenue</p>
                <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">$ {{ delta_revenue }}</h3>
                </div>
            </div>
            </div>
            <p class="text-muted mt-3 mb-0">
            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> € {{ tot_revenue }}
            </p>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
        <div class="card-body">
            <div class="clearfix">
            <div class="float-left">
                <i class="mdi mdi-poll-box text-success icon-lg"></i>
            </div>
            <div class="float-right">
                <p class="mb-0 text-right">Satisfaction Level</p>
                <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{ delta_satisfaction }}</h3>
                </div>
            </div>
            </div>
            <p class="text-muted mt-3 mb-0">
            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> {{ satisfaction }}
            </p>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
        <div class="card-body">
            <div class="clearfix">
            <div class="float-left">
                <i class="mdi mdi-account-location text-info icon-lg"></i>
            </div>
            <div class="float-right">
                <p class="mb-0 text-right">State</p>
                <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">{{ state }}</h3>
                </div>
            </div>
            </div>
            <p class="text-muted mt-3 mb-0">
            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Manutenzione prevista il {{ next_ops }}
            </p>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 grid-margin stretch-card">
        <div class="card">
        <div class="card-body" style="text-align: center">
            <h4 class="card-title">Machine #{{ id }}</h4>
            position_des: {{ position_des }}</br>
            position_geo: {{ position_geo }}</br>
            last_maintenance: {{ last_maintenance }}</br>
            last_cleaning: {{ last_cleaning }}</br>
            spegni in time range: {{ off_time_range }}</br>
            installation_date: {{ installation_date }}</br>
        </div>
        </div>
    </div>
    <div class="col-lg-9 grid-margin stretch-card">
        <div class="card">
        <div class="card-body" style="text-align: center">
            <h4 class="card-title">Grafico consumabili</h4>
            <img id="live_2" src="{{ imgID2 }}" width="100%">
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body" style="text-align: center">
            <h4 class="card-title">Grafico numero ordini per prodotto</h4>
            <img id="live_2" src="{{ imgID2 }}" width="100%">
        </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body" style="text-align: center">
            <h4 class="card-title">Grafico cosa a caso</h4>
            <img id="live_2" src="{{ imgID2 }}" width="100%">
        </div>
        </div>
    </div>
</div>