<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Satisfaction</th>
            <th>delta Satisfaction</th>
            <th>Status</th> 
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>link alla pagina di info generali  della macchina</td>
            <td>TuaSor</td>
            <td>molto happy</td>
            <td>ci sarà un block per ogni riga</td>
            <td>"ok", refill, out of order, </td>
        </tr>
        </tbody>
    </table>
</div>