<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Satisfaction</th>
            <th>delta Satisfaction</th>
            <th>Status</th> 
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>link allapagina</td>
            <td>TuaSo</td>
            <td>molto happy</td>
            <td>ci sarà un</td>
            <td>
                <label class="badge badge-warning">To Refill</label>
            </td>
        </tr>
        <tr>
            <td>di info generali</td>
            <td>TuaMa</td>
            <td>molto happy</td>
            <td>block per ogni </td>
            <td>
                <label class="badge badge-danger">Out of Order</label>
            </td>
        </tr>
        <tr>
            <td>macchina</td>
            <td>TuaZi</td>
            <td>molto happy</td>
            <td>riga</td>
            <td>
                <label class="badge badge-success">working</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>