<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>
  <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="static/css/style.css">

  <script>
    function refresh(node) {
      var times = 5000; // gap in Milli Seconds;

      (function startRefresh() {
        var address;
        if (node.src.indexOf('?') > -1)
          address = node.src.split('?')[0];
        else
          address = node.src;
        
        node.src = address+"?time="+new Date().getTime();

        setTimeout(startRefresh, times);
      })();

    }

    window.onload = function () {
      var node1 = document.getElementById('live_1');
      refresh(node1);
      var node2 = document.getElementById('live_2');
      refresh(node2);
    }
  </script>
</head>




<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left">
          <li class="profile-text" style="margin-left:30px; font-size:1rem">Hello, {{ username }}! </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <div style="margin-left: 20px">
            <span class="btn btn-danger btn-rounded">
              Logout
              <a href="./logout">
                <span class="mdi mdi-close-circle icon-sm" style="color:white"></span>
              </a>
            </span>
          </div>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            {% include 'test.html' %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="static/js/dashboard.js"></script>
  <!-- End custom js for this page-->
  <script src="static/js/chart.js"></script>
</body>

</html>