<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Satisfaction</th>
            <th>delta Satisfaction</th>
            <th>Status</th> 
        </tr>
        </thead>
        <tbody>
        {% for machine in machines %}
            <tr>
                <td><a href="{{ machine.id }}/maintenance">{{ machine.id }}</a></td>
                <td>{{ machine.owner }}</td>
                <td class="text-{{ machine.badge_sat }}">{{ machine.satisfaction }}</td>
                <td class="text-{{ machine.badge_dSat }}">{{ machine.delta_satisfaction }}<i class="mdi mdi-arrow-{{ machine.arrow }}"></i></td>
                <td><label class="badge badge-{{ machine.badge_ops }}">{{ machine.operarion }}</label></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>